#load {
    background: #000;
    width: auto;
    margin-top: 0px;
    height: 1024px;
}
.rat video {
    margin-top: 400px;
    margin-left: 620px;
    width: 20%;
}

/*================== Media Queries (MEDIUM DEVICES)================*/
@media screen and (max-width: 1024px) {
    .rat {
        display: none;
    }
}

/*================== Media Queries (SMALL DEVICES)================*/
@media screen and (max-width: 600px) {
    .rat {
        display: none;
    }
}
