footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.logo {
    width: 50px;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: inline-block;
    transition: var(--transition);
}

.logo:hover {
    width: 52px;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer_copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

